body {
    background: #edebd9;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

option {
    height: 2em;
}

.container img {
    max-width:100%;
}

.navbar{
    background-color: #14213D;
    text-align: center;
    float: inherit;
    color: black;
    font-size: 20px;
    opacity: 50%;
}

#author {
    color: red;
    font-weight: bold;
}

