{% extends "layout.html" %}

{% block title %} {{ super() }} {% endblock %}

{% block content %}


<script>
    function loadMap() {
      const location =  "{{ location["name"] | safe }}";
      const url = `https://maps.googleapis.com/maps/api/geocode/json?address=${location}&key=AIzaSyDnB3tMLA1yXIx_lRB4G0A3EOPHSA-yga0`
      fetch(url)
        .then(res => {
          return res.json()
        })
        .then(response => {
          const location = response.results[0]
          const mapSrc = `https://www.google.com/maps/embed/v1/place?q=place_id:${location.place_id}&key=AIzaSyDnB3tMLA1yXIx_lRB4G0A3EOPHSA-yga0`
          document.getElementById('map').src = mapSrc
        })
        .catch(console.log)
    }

    function redirection(){
        const selector = document.getElementById("locationSelect");
        const newIndex = selector.selectedIndex;
        window.location.href = "/" + newIndex;
    }

</script>

<div class="row">

    <div class="col-md-6">

        <div class="row-md-4">
        <label>{{ location["name"] }}</label><br>
        <label>{{ location["description"] }}</label><br><br><br>
        </div>
        <div class="row-md-8">
        <iframe
                id="map"
                width="540"
                height="440"
                frameborder="0"
                style="border:0"
                src=""
                allowfullscreen
        ></iframe>
</div>
    </div>

    <div class="col-md-6">


        <div class="row-md-4">
            <br><br>
            <div class="form-group">
                <a class="btn btn-warning pull-right" rel="noopener noreferrer" href="add-location" role="button">Add a
                    new location</a>
                <br><br>
                <label for="locationSelect"></label>
                <select class="form-control" id="locationSelect" onchange="redirection()"
                        onmousedown="if(this.options.length>4){this.size=4;}" onblur="this.size=0;">
                    {% for location_name in location_names %}
                    <option>{{location_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>


        <div class="row-md-4">
            <br><br>
            <img src="{{ location["photo_url"] }}"><br>
        </div>


        <div class="row-md-4">
            <ul>
                {% for review in location["review"] %}
                <li id="authorName"> <span id="author">{{ review["author"] }}</span> says: "<span id="text">{{ review["text"] }}</span>"</li>
                <br><br>
                {% endfor %}
            </ul>



            <form method="POST" action="">
            <div class="form-group">
                <input type="text" id="new_text" name="new_text" class="form-control input-lg" placeholder="Write your review" required="">
                <input type="text" id="new_author" name="new_author" class="form-control" placeholder="Name" required="">
                         <br>
                <button type="submit" class="btn btn-warning btn-block" name="add-review">Add Review</button>

            </div>

            </form>

        </div>


    </div>

</div>

<script type="text/javascript">
        loadMap();
        var selector = document.getElementById("locationSelect");
        var url = window.location.href ;
        var index = url.substr(url.lastIndexOf('/') + 1);
        selector.selectedIndex = index ;


</script>

{% endblock %}
